<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      * {
        margin: 0;
        padding: 0;
      }
      .row {
        column-count: 5;
      }
      .col {
        background-color: antiquewhite;
        width: 25%;
      }
    </style>
  </head>
  <body>
    <div class="row">
      <div class="col">
        <h2>This is heading</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione
          blanditiis modi dicta magni necessitatibus voluptatum magnam, eum
          impedit quo sed facere tenetur rerum ipsam. Deserunt quod nulla quam
          quia vel!
        </p>
      </div>
      <div class="col">
        <h2>This is heading</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione
          blanditiis modi dicta magni necessitatibus voluptatum magnam, eum
          impedit quo sed facere tenetur rerum ipsam. Deserunt quod nulla quam
          quia vel!
        </p>
      </div>
      <div class="col">
        <h2>This is heading</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione
          blanditiis modi dicta magni necessitatibus voluptatum magnam, eum
          impedit quo sed facere tenetur rerum ipsam. Deserunt quod nulla quam
          quia vel!
        </p>
      </div>
      <div class="col">
        <h2>This is heading</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione
          blanditiis modi dicta magni necessitatibus voluptatum magnam, eum
          impedit quo sed facere tenetur rerum ipsam. Deserunt quod nulla quam
          quia vel!
        </p>
      </div>
      <div class="col">
        <h2>This is heading</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione
          blanditiis modi dicta magni necessitatibus voluptatum magnam, eum
          impedit quo sed facere tenetur rerum ipsam. Deserunt quod nulla quam
          quia vel!
        </p>
      </div>
    </div>
  </body>
</html>
