@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    display: inline-block;
    color: black;
}

.container{
    /* border: 1px solid yellow; */
    width: 100%;
    margin-top: 10px;
}

.row{
    margin: 0 auto;
    width: 95%;
    /* border: 1px solid yellowgreen; */
    /* display: inline-block; */
}

.row::after{
    content: "";
    display: block;
    clear: both;
}

.col1{
    width: 60%;
    /* border: 1px solid red; */
    float: left;
}

.logo{
    width: 20%;
    float: left;
}

.logo img{
    width: 100%;
}
.search{
    width: 78%;
    float: right;
}

.col2{
    margin-top: 10px;
    width: 35%;
    /* border: 1px solid red; */
    float: right;
}

.col2 ul li{
    list-style-type: none;
        display: inline-block;
        text-align: center;
        width: 15%;
}

.search input[type="text"]{
    width: 100%;
    height: 35px;
    border-radius: 5px;
    border-color: transparent;
    background-color: #F0F5FF;
    font-size: 1em;
}